*{
  box-sizing: border-box;
}
h1 {
  color: blue;
  text-align: center;
}

.header  {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 30%;
width: 100%;
background-color: rgb(255, 231, 17);
border-color: blue 20px;
border-style: solid;
}
.main {
  background-color: red;
  border-bottom: rgb(148, 65, 225) 20px;
  border-style: dotted;
}

h3 {
  color: yellow;
  text-shadow: red 1em;
}

.list {
  background-color: steelblue;
  list-style: none;
  border-color: steelblue 10px;
  border: solid thick;
}
.footer {
  text-align: center;
  background-color: steelblue;
}
